descriptors {
  .descriptors {
    min-width:15px;
    text-transform: capitalize;
  }
  .descriptorsRow {
    margin-left:8%;
    margin-right:8%;
    justify-content: end;
  }
  .descriptorsCol {
    padding-left:5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

}
